# Ignore compiled files
*.o
*.dll
*.exe
*.pdb

# Ignore directories
bin/
obj/

# Ignore user-specific files
*.log
*.tmp
*.bak

# Ignore IDE files
.idea/
.vscode/
*.suo
*.user
*.sqlite

# Ignore OS-specific files
.DS_Store
Thumbs.db

project_structure.txt
1-rdi-candidate-book.pdf
software-developer-csharp-coding-challenge-new-squads-csharp-.docx

# Logs and temp files
*.log
*.tmp
*.bak